.header {
    color: #3c06c5;
    max-width: 400px;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    font-size: 25px;
    font-weight: 700;
    text-shadow: 1px -1px 6px #5664FF;
}