body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-size: 15px;
  max-height: 1000px;
  background-image: url("./images/background.png");
  background-size: 100px;
  background-repeat: repeat;
  background-position: center;
  margin: 150px auto;
}